<template>
  <div>
    <form @submit.prevent="onSubmit" action="">
      <div class="input-header">
        <label for="header-input">Заголовой статьи</label>
        <input v-model="header" id="header-input" type="text">
      </div>
      <div class="input-body">
        <textarea rows="10" v-model="body"></textarea>
      </div>
      <button class="btn" type="submit">Добавить</button>
    </form>
  </div>
</template>

<script>
  import {collection} from 'services/firebase';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: "articles-creator",
    data() {
      return {
        header: '',
        body: ''
      }
    },
    computed: {
      ...mapGetters(['userEmail']),
      article() {
        return {
          header: this.header,
          body: this.body,
          authorEmail: this.userEmail,
          timeCreated: Date.now()
        };
      }
    },
    methods: {
      ...mapActions(['createArticle']),
      onSubmit() {
        this.createArticle(this.article);
      }
    }
  }
</script>

<style scoped lang="sass">
  form
    display: flex
    flex-direction: column
    max-width: 700px
    margin: 0 auto

  button
    width: 170px
    margin: 20px auto

  .input-header, .input-body
    text-align: left
    margin: 10px
    display: flex
    flex-direction: column

  .input-body
    resize: none

</style>
