<template>
  <div class="container article">
    <div v-if="isAllArticlesFetching">Загрузка</div>
    <ul>
      <li class="article__item" v-for="article in articles">
        <router-link class="article__header" :to="'/article/' + article.id">{{article.header}}</router-link>
        <div class="article__body">{{article.body.substring(0, 500) + '...'}}</div>
      </li>
    </ul>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: "articles-list",
    data() {
      return {
        page: 1
      }
    },
    methods: mapActions(['getArticles']),
    computed: mapGetters(['articles', 'isAllArticlesFetching']),
    async mounted() {
      setTimeout(async () => {
        this.getArticles(this.page);
      }, 500);
    }
  }
</script>

<style scoped lang="sass">
  .article
    &__header, &__body
      text-align: left

    &__header
      display: block
      padding: 10px 0
      transition: all .05s
      font-size: 1.4rem
      font-weight: bolder
      text-decoration: none
      color: #487284

      &:hover
        color: #42b983

    &__item
      margin: 10px 0

    ul
      display: flex
      flex-direction: column
</style>
