<template>
  <div class="container">
    <div v-if="isCurrentArticleFetching">Загрузка</div>
    <div class="article" v-if="currentArticle !== undefined">
      <h3 class="article__header">{{currentArticle.header}}</h3>
      <div class="article__body">{{currentArticle.body}}</div>
      <div class="article__author">{{currentArticle.authorEmail}}</div>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: "article-details",
    props: {
      id: String
    },
    computed: mapGetters(['currentArticle', 'isCurrentArticleFetching']),
    methods: mapActions(['getArticlesById']),
    async created() {
      setTimeout(async () => {
        await this.getArticlesById(this.id);
      }, 300);
    }
  }
</script>

<style scoped lang="sass">
  .article
    &__header, &__body, &__author
      text-align: left

    &__author
      margin: 10px auto
      font-weight: bolder

</style>
