<template>
  <header v-if="this.$route.path !== '/login'">
    <router-link to="/all">Blog</router-link>
    <router-link to="/create">Написать статью</router-link>
    <router-link to="/all">Все статьи</router-link>
    <router-link to="/logout">Выйти</router-link>
  </header>
</template>

<script>
  export default {
    name: "app-header",
  }
</script>

<style scoped>

</style>
