<template>
  <form>
    <h3>Login</h3>
    <input
      v-model="email"
      @change="setLoginError(false)"
      placeholder="Email"
      class="text-input"
      name="email"
      type="text">
    <input
      v-model="password"
      @change="setLoginError(false)"
      placeholder="Password"
      class="text-input"
      name="password"
      type="password">
    <div class="buttons">
      <button
        @click.prevent="signIn({email, password})"
        class="log-in btn_auth"
      >
        <span v-if="isFetching" class="spin"></span>
        <span v-if="!isFetching">Log in</span>
      </button>
      <button class="sign-up btn_auth">Sign up</button>
    </div>
    <div v-if="isLoginError" class="error">Вы ввели не верный логин или пароль</div>
  </form>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: "login",
    data() {
      return {
        email: '',
        password: ''
      }
    },
    methods: mapActions(['signIn', 'setLoginError']),
    computed: mapGetters(['isLoginError', 'isAuth', 'isFetching']),
    async mounted() {
      this.email = 'test@mail.com';
      this.password = '123456';
    },
    beforeUpdate() {
      this.isAuth && this.$router.push('/');
    }
  }
</script>

<style scoped lang="sass">
  form
    display: flex
    flex-direction: column
    max-width: 400px
    margin: 0 auto

    $baseColor: #1565C0

    @keyframes spin
      from
        transform: rotate(0deg)
      to
        transform: rotate(360deg)

    .spin
      display: block
      width: .5rem
      height: .5rem
      border: 2px solid rgba(white, 0)
      border-left-color: white
      border-top-color: white
      border-radius: 50%
      animation: spin infinite ease-in-out 1s

    .error
      margin-top: 25px
      padding: 5px 0
      background-color: #ff9489
      border-radius: 4px

    h3
      font-size: 1.3rem

    .text-input
      border: none
      border-bottom: 1px solid #e4e4e4
      margin: 10px 0
      padding: 7px 10px
      font-size: 1rem
      outline: none
      transition: all .4s

      &:focus
        border-bottom-color: $baseColor

    .buttons
      display: flex

    .log-in
      background-color: $baseColor
      color: white
      transition: all .4s

      &:hover
        background-color: #1976D2

    .sign-up
      margin-left: 10px

</style>
