<template>

</template>

<script>
  import {mapActions} from 'vuex';
  export default {
    name: "logout",
    methods: mapActions(['logout']),
    created() {
      this.logout();
      this.$router.push('/login');
    }
  }
</script>

<style scoped>

</style>
